.search-input {
  background-color: #4f4d4e;
  padding: 0 1rem;
}

.search-input::placeholder {
  text-align: right;
  color: black;
}

.top-nav ul {
  padding: 0;
  margin: 0;
}

.top-nav li {
  display: inline;
  color: #4f4d4e;
}
.top-nav a {
  text-decoration: none;
  color: #4f4d4e;
  &:hover {
    color: white;
  }
}

/*Main Navbar*/

.navbar {
  background: linear-gradient(
    to bottom,
    #5f5f5f 0%,
    #5f5f5f 50%,
    #555555 50%,
    #555555 100%
  );
  padding: 0;
  height: 5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand img {
  width: 25%;
  border-radius: 50%;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.nav-item {
  padding: 1rem;
}

.navbar .nav-link {
  color: white;
  text-align: center;
}

/* Center Logo Image */
.logo-img {
  width: 9rem;
  border-radius: 50%;
}

/*Mountain Image*/

.logo-and-mountain {
  text-align: center;
}

.mountain-img {
  width: 80%;
}

/*Info Columns*/

.info-container {
  width: 80%;
}

.info {
  padding: 1rem;
}

.info-image {
  display: block;
  margin: auto;
  padding: 2rem;
}

.text {
  text-align: justify;
}

.date {
  font-style: italic;
  font-weight: bold;
  opacity: 40%;
  padding-right: 0;
}
.read {
  text-align: right;
  padding-left: 0;
}
