.top-container {
  background-color: black;
}

.search-input {
  background-color: #4f4d4e;
  padding: 0 1rem;
}

.search-input::placeholder {
  text-align: right;
  color: black;
}

.top-nav ul {
  padding: 0;
  margin: 0;
}

.top-nav li {
  display: inline;
  color: #4f4d4e;
}
.top-nav a {
  text-decoration: none;
  color: #4f4d4e;
  &:hover {
    color: white;
  }
}

/*Main Navbar*/

.navbar {
  background: linear-gradient(
    to bottom,
    #5f5f5f 0%,
    #5f5f5f 50%,
    #555555 50%,
    #555555 100%
  );
  padding: 0;
  height: 5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.navbar.toggled {
  background-color: #555555; /* Color when toggled */
  color: white;
}

.navbar-brand img {
  width: 25%;
  border-radius: 50%;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.navbar .nav-link {
  color: white;
  text-align: center;
  &:hover {
    background-color: black;
  }
}

/* Center Logo Image */
.logo-img {
  width: 9rem;
  border-radius: 50%;
}

/*Mountain Image*/

.logo-and-mountain {
  text-align: center;
}

.mountain-img {
  width: 80%;
}

/*Info Columns*/

.info-container {
  width: 80%;
}

.info {
  padding: 1rem;
}
div.row.pb-5 {
  align-items: baseline;
}
.info-image {
  display: block;
  margin: auto;
  padding: 2rem;
}

.text {
  text-align: justify;
}

.date {
  font-style: italic;
  font-weight: bold;
  opacity: 40%;
  padding-right: 0;
}
.read {
  text-align: right;
  padding-left: 0;
}
/* Bottom Section with Nav links, icons, etc. */
.bottom-container {
  background-color: black;
  padding: 0 6rem;
}

/* Bottom Nav Links */

.bottom-nav {
  padding: 2rem;
}

.bottom-nav ul {
  padding: 0 1rem;
}

.bottom-nav li {
  list-style: none;
  text-align: center;
}

.bottom-nav a {
  color: #4f4d4e;
  text-decoration: none;
}

/* Icons Column */

.icons-column {
  padding: 2rem;
}

.icons-column ul {
  padding: 0 1rem;
}

.icons-column img {
  width: 2rem;
}

.icons-column li {
  list-style: none;
  display: inline;
}

/* Social Post Sections */
.post-column {
  padding: 2rem;
}

.post-column span {
  font-weight: bold;
}
#post-text {
  color: #4f4d4e;
  background-color: #121212;
}

#username {
  color: #4f4d4e;
  font-weight: bold;
}

#time {
  color: #4f4d4e;
  text-align: right;
}

/* Location */
.location-column {
  padding: 0 2rem 2rem 2rem;
}
.location-column img {
  width: 2rem;
}

.location-column p {
  color: #4f4d4e;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

/* Footer */

footer {
  background-color: black;
  padding: 1rem;
}
footer p {
  text-align: center;
  color: #1e1e1e;
}
